@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

:root {
  --clr-main-blue: #0056d2;
  --clr-deep-blue: #002dc0;
  --clr-white: #fff;
  --clr-main-black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-white);
  font-family: "Poppins", sans-serif;
}

.nav-container {
  width: 100%;
  border-bottom: 1px solid var(--clr-main-blue);
  background-color: var(--clr-white);
  position: fixed;
  top: 0;
}

nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  color: var(--clr-main-blue);
  /* font-size: 2rem; */
  font-size: clamp(1.5rem, 5vw, 2rem);
}

nav .menu-bar {
  display: none;
  justify-content: end;
  position: absolute;
  right: 0;
  padding-right: 1.3rem;
  padding-top: 0.25rem;
}

nav .menu-bar img {
  width: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin-top: 0.6rem;
}

nav a {
  text-decoration: none;
  color: var(--clr-main-black);
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--clr-main-blue);
}

nav .active {
  color: var(--clr-main-blue);
  font-weight: 500;
}

.hero-container {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid ; */
}

.hero-text-container {
  width: 50%;
  margin-top: 6rem;
  /* border: 1px solid; */
}

.hero-text-container h1 {
  /* font-size: 3.5rem; */
  font-size: clamp(0.5rem, 10vw, 3.5rem);
  color: var(--clr-main-black);
  line-height: 4.5rem;
}

.hero-text-container span {
  color: var(--clr-main-blue);
}

.hero-text-container p {
  width: 85%;
  color: var(--clr-main-black);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.hero-cta-btn a {
  color: var(--clr-main-black);
  padding: 1.2rem;
  background-color: #0056d2;
  border-radius: 5px;
  text-decoration: none;
  color: var(--clr-white);
}

.hero-cta-btn a:hover {
  background-color: var(--clr-deep-blue);
}

.hero-image {
  width: 50%;
  margin-top: 3rem;
  /* border: 1px solid; */
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
}

@media(max-width: 700px){
  .hero-text-container h1 {
    line-height: 1.2;
  }
}

@media (max-width: 900px) {
  nav ul {
    display: none;
  }
  nav .menu-bar {
    display: flex;
  }
}

@media (max-width: 1050px) {
  .hero-container {
    display: block;
  }
  .hero-text-container {
    width: 100%;
    text-align: center;
  }
  .hero-text-container p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-image {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-image {
    min-width: 300px;
  }
}
