@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

:root {
  --clr-main-blue: #0056d2;
  --clr-deep-blue: #002dc0;
  --clr-white: #fff;
  --clr-main-black: #030303;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white);
}

.nav-container {
  width: 100%;
  border-bottom: 1px solid var(--clr-main-blue);
  background-color: var(--clr-white);
  position: fixed;
  top: 0;
}

nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  color: var(--clr-main-blue);
  font-size: clamp(1.5rem, 5vw, 2rem);
}

nav .menu-bar {
  display: none;
  justify-content: end;
  position: absolute;
  right: 0;
  padding-right: 1.3rem;
  padding-top: 0.25rem;
}

nav .menu-bar img {
  width: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin-top: 0.6rem;
}

nav a {
  text-decoration: none;
  color: var(--clr-main-black);
  font-size: 1.08rem;
  font-weight: 400;
}

nav a:hover {
  color: var(--clr-main-blue);
}

nav .active {
  color: var(--clr-main-blue);
}

.hero-container {
  width: 90%;
  margin: 7.8rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}

.hero-text-container {
  width: 60%;
  border: 1px solid;
  padding-bottom: 2rem;
}

.hero-text-container h1 {
  font-size: clamp(0.5rem, 10vw, 3.5rem);
  color: var(--clr-main-black);
  line-height: 4.5rem;
}

.hero-text-container span {
  color: var(--clr-main-blue);
}

.hero-text-container span:first-child {
  color: var(--clr-main-black);
  display: block;
}

.hero-text-container p {
  width: 70%;
  color: var(--clr-main-black);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.hero-cta-btn a {
  color: var(--clr-main-black);
  padding: 1.2rem;
  background-color: var(--clr-main-blue);
  border-radius: 5px;
  text-decoration: none;
  color: var(--clr-white);
}

.hero-cta-btn a:hover {
  background-color: var(--clr-deep-blue);
}

.hero-image {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  border: 1px solid;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
}

.achieve-container {
  background-color: var(--clr-main-blue);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
}

.achieve-container h2 {
  font-size: 2.2rem;
  color: var(--clr-main-black);
}

.achieve-text-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.text-1,
.text-2 {
  display: flex;
}

.achieve-text-container span {
  color: var(--clr-white);
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  .hero-text-container h1 {
    line-height: 1.2;
  }

  .achieve-text-container {
    display: block;
  }
  .text-1,
  .text-2 {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  nav ul {
    display: none;
  }
  nav .menu-bar {
    display: flex;
  }
}

@media (max-width: 1050px) {
  .hero-container {
    display: block;
    margin-top: 10rem;
  }
  .hero-text-container {
    width: 100%;
    text-align: center;
  }
  .hero-text-container p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    min-width: 350px;
  }
}
