@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

:root {
  --clr-main-blue: #0056d2;
  --clr-deep-blue: #002dc0;
  --clr-white: #fff;
  --clr-main-black: #030303;
  --clr-light-black: #303030;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white);
}

.nav-container {
  width: 100%;
  border-bottom: 1px solid var(--clr-main-blue);
  background-color: var(--clr-white);
  position: fixed;
  top: 0;
}

nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  color: var(--clr-main-blue);
  font-size: clamp(1.5rem, 5vw, 2rem);
}

nav .menu-bar {
  display: none;
  justify-content: end;
  position: absolute;
  right: 0;
  padding-right: 1.3rem;
  padding-top: 0.25rem;
}

nav .menu-bar img {
  width: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin-top: 0.6rem;
}

nav a {
  text-decoration: none;
  color: var(--clr-main-black);
  font-size: 1rem;
  font-weight: 400;
}

nav a:hover {
  color: var(--clr-main-blue);
}

nav .active {
  color: var(--clr-main-blue);
}

.hero-container {
  width: 90%;
  margin: 7.6rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-container {
  width: 60%;
  padding-bottom: 2rem;
}

.hero-text-container h1 {
  font-size: clamp(0.5rem, 10vw, 3.5rem);
  color: var(--clr-main-black);
  line-height: 4.5rem;
}

.hero-text-container span {
  color: var(--clr-main-blue);
}

.hero-text-container span:first-child {
  color: var(--clr-main-black);
  display: block;
}

.hero-text-container p {
  width: 72%;
  max-width: 620px;
  color: var(--clr-light-black);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.8;
}

.hero-cta-btn a {
  padding: 1.2rem;
  background-color: var(--clr-main-blue);
  border-radius: 5px;
  text-decoration: none;
  color: var(--clr-white);
}

.hero-cta-btn a:hover {
  background-color: var(--clr-deep-blue);
}

.hero-image {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
}

.achieve-container {
  background-color: var(--clr-main-blue);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
}

.achieve-container h2 {
  font-size: 2.2rem;
  color: var(--clr-main-black);
}

.achieve-text-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.text-1,
.text-2 {
  display: flex;
}

.achieve-text-container span {
  color: var(--clr-white);
  padding-top: 0.75rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.service-container {
  width: 90%;
  margin: 8rem auto 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.service-text-container {
  width: 50%;
}

.service-text-container h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
}

.service-text-container img {
  width: 60px;
  height: 60px;
}

.service-text-container .point {
  margin-left: 0.5rem;
  padding-top: 0.2rem;
}

.service-text-container span {
  font-weight: 600;
  font-size: 1rem;
}

.service-text-container p {
  color: var(--clr-light-black);
  padding-top: 0.2rem;
  font-size: 0.92rem;
}

.point-container {
  display: flex;
  margin-top: 3rem;
}

.service-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.service-image img {
  max-width: 500px;
  width: 100%;
}

.plan-container {
  width: 90%;
  margin: 8rem auto;
}

.plan-title {
  font-size: clamp(0.5rem, 7vw, 3rem);
  text-align: center;
  margin: 0 auto 4rem auto;
  width: 60%;
}

.plan-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.plan-card {
  width: 320px;
  border: 1px solid var(--clr-main-blue);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.plan-type-head {
  background-color: var(--clr-main-blue);
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 1.5rem 1rem 0.5rem 1rem;
}

.plan-type-head p {
  font-size: 1rem;
  color: var(--clr-white);
  margin-bottom: 0.5rem;
}

.plan-type-head h2 {
  font-size: 2.5rem;
  color: var(--clr-main-black);
  font-weight: 800;
}

.plan-body {
  padding: 1rem 2rem 2rem 2rem;
}

.plan-body img {
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.plan-body p {
  font-size: 0.96rem;
  color: var(--clr-light-black);
}

.plan-text {
  display: flex;
  margin-top: 0.8rem;
}

.price-tag h2 {
  display: inline;
  font-size: 1.8rem;
  font-weight: 800;
}

.price-tag span {
  font-size: 1rem;
}

.price-tag {
  padding: 0 0 1rem 0;
  margin: 0 auto;
  width: fit-content;
}

.about-text-container {
  width: 50%;
}

.about-text-container h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  width: 70%;
}

.about-text-container p {
  margin: 2rem 0 4rem 0;
  width: 75%;
  font-size: 1rem;
  color: var(--clr-light-black);
  line-height: 1.8;
}

.about-btn a {
  padding: 1.2rem;
  background-color: var(--clr-main-blue);
  border-radius: 5px;
  text-decoration: none;
  color: var(--clr-white);
}

.about-text-container a:hover {
  background-color: var(--clr-deep-blue);
}

.about-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  max-width: 500px;
  width: 100%;
}

.about-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 8rem auto;
}

.testimonies-container {
  width: 90%;
  margin: 0 auto;
}

.testimonies-container h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  text-align: center;
  margin: 0 auto 4rem auto;
  width: 60%;
}

.comment {
  width: 310px;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.comment .quote-image {
  width: 20px;
}

.comment .text-quote {
  font-size: 1rem;
  color: var(--clr-light-black);
  line-height: 1.8;
  margin: 3rem 0 0 0;
  min-height: 280px;
}

.client-profile {
  display: flex;
}

.client-profile img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.client-profile span {
  color: var(--clr-main-black);
  font-weight: 700;
}

.client-profile .job {
  color: var(--clr-light-black);
  margin: 0;
  font-size: 0.95rem;
  margin-top: 0.1rem;
}

.name-job {
  margin-left: 1rem;
}

.comments-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.get-started-container {
  background-color: var(--clr-main-blue);
  padding: 4rem 0;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.get-started-container h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
}

.get-started-container p {
  color: var(--clr-white);
  width: 80%;
  margin-top: 1.5rem;
  font-size: 0.96rem;
}

.starting-text-container {
  width: 50%;
}

.start-btn a {
  padding: 0.8rem;
  background-color: var(--clr-white);
  border-radius: 5px;
  text-decoration: none;
  color: var(--clr-main-blue);
  font-weight: 500;
}

.start-btn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.starting-body {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.news-arts-container {
  width: 90%;
  margin: 0 auto;
}

.news-arts-container h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  margin-bottom: 2rem;
  text-align: center;
}

.news-card img {
  width: 100%;
  max-width: 380px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.news-card span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--clr-light-black);
}

.news-card h3 {
  font-size: 1.5rem;
  color: var(--clr-main-blue);
  height: 70px;
}

.news-card .date {
  font-size: 0.8rem;
  margin: 0.8rem 0;
}

.news-card .news-feed {
  font-size: 0.9rem;
  margin-bottom: 1.8rem;
}

.news-btn a {
  background-color: var(--clr-main-blue);
  color: var(--clr-white);
  padding: 0.6rem;
  border-radius: 5px;
  text-decoration: none;
}

.news-btn a:hover {
  background-color: var(--clr-deep-blue);
}

.news-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
  border-radius: 15px;
  max-width: 380px;
  margin: 0 auto 4rem auto;
}

.news-text {
  padding: 0 0.8rem 1.8rem 0.8rem;
}

.news-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

footer {
  background-color: var(--clr-main-blue);
  padding: 3rem 0 2rem 0;
}

.footer-container {
  width: 90%;
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social-text {
  width: 40%;
}

.footer-container h2 {
  font-size: 1.6rem;
  color: var(--clr-white);
}

.footer-container p {
  color: var(--clr-white);
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  width: 68%;
}

.social-media img {
  width: 25px;
  height: 25px;
  margin-right: 0.8rem;
}

.social-media a {
  color: #00000000;
}

.sub-links span {
  color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.sub-links ul {
  list-style-type: none;
}

.sub-links li {
  margin-top: 1rem;
}

.sub-links a {
  text-decoration: none;
  color: #d6d6d6;
}

.sub-links a:hover {
  color: var(--clr-main-black);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 2rem;
}

.end-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.end-footer p {
  font-size: 0.9rem;
  color: var(--clr-white);
}

.end-footer span {
  font-weight: 600;
}

.main-services {
  margin: 8rem auto 0 auto;
  width: 90%;
}

.main-services h2 {
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  margin-bottom: 1rem;
  text-align: center;
  color: var(--clr-main-blue);
}

.main-services .tip {
  text-align: center;
  color: var(--clr-light-black);
  width: 80%;
  margin: 0 auto;
}

.pack img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.pack span {
  color: var(--clr-main-blue);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  display: block;
}

.pack p {
  text-align: center;
  color: var(--clr-light-black);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.pack {
  background-color: rgb(241, 241, 241);
  max-width: 350px;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
}

.package-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.introduction {
  display: flex;
  justify-content: space-between;
  margin: 4rem auto 8rem auto;
  width: 90%;
  align-items: center;
}

.intro-text {
  width: 50%;
}

.intro-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.intro-text h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  color: var(--clr-main-blue);
}

.intro-text p {
  color: var(--clr-light-black);
  width: 80%;
}

.intro-image img {
  max-width: 500px;
  width: 100%;
}

.mission-vision {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 4rem auto 8rem auto;
  width: 90%;
  align-items: center;
}

.mission-text {
  width: 50%;
}

.mission-image {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.mission-text h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  color: var(--clr-main-blue);
  text-align: end;
}

.mission-text p {
  color: var(--clr-light-black);
  text-align: end;
  width: 80%;
  margin: 0 0 0 auto;
}

.mission-image img {
  max-width: 500px;
  width: 100%;
}

.history {
  display: flex;
  justify-content: space-between;
  margin: 4rem auto 8rem auto;
  width: 90%;
  align-items: center;
}

.history-text {
  width: 50%;
}

.history-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.history-text h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  color: var(--clr-main-blue);
}

.history-text p {
  color: var(--clr-light-black);
  width: 80%;
}

.history-image img {
  max-width: 500px;
  width: 100%;
}

.team-expertise {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 4rem auto 8rem auto;
  width: 90%;
  align-items: center;
}

.team-text {
  width: 50%;
}

.team-image {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.team-text h2 {
  font-size: clamp(0.5rem, 7vw, 3rem);
  color: var(--clr-main-blue);
  text-align: end;
}

.team-text p {
  color: var(--clr-light-black);
  text-align: end;
  width: 80%;
  margin: 0 0 0 auto;
}

.team-image img {
  max-width: 500px;
  width: 100%;
}

.blog-title {
  margin-top: 7rem;
  color: var(--clr-main-black);
  font-size: clamp(0.5rem, 7vw, 2.5rem);
  text-align: center;
}

.blog-title span {
  color: var(--clr-main-blue);
}

.blog-point {
  font-size: 1rem;
  color: var(--clr-light-black);
  text-align: center;
  margin-bottom: 2rem;
}

.contact-container {
  width: 90%;
  margin: 0 auto;
}

.contact-container h3 {
  font-size: clamp(0.5rem, 6vw, 2.5rem);
  text-align: center;
  color: var(--clr-main-black);
  margin: 7rem auto 0 auto;
  width: 80%;
}

.contact-container h3 span {
  color: var(--clr-main-blue);
}

.form {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 4rem;
  width: 50%;
}

.contact-container h4 {
  font-size: 1.5rem;
}

.form p {
  color: var(--clr-light-black);
  font-size: 0.88rem;
}

form {
  margin-top: 0.5rem;
}

form input {
  display: block;
  padding: 0.5rem;
  width: 260px;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  outline: none;
  border: 1px solid #c7c7c7;
}

textarea {
  width: 260px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c7c7c7;
}

button {
  display: block;
  padding: 1rem;
  background-color: var(--clr-main-blue);
  border-radius: 5px;
  border: none;
  color: var(--clr-white);
  font-size: 0.9rem;
  margin-top: 1rem;
}

button:hover {
  background-color: var(--clr-deep-blue);
  cursor: pointer;
}

.reach-out {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 4rem;
  width: 50%;
}

.reach-out span {
  display: block;
  color: var(--clr-main-blue);
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.reach-out a {
  color: var(--clr-main-black);
  text-decoration: none;
}

.reach-out img {
  margin-top: 1rem;
}

.sub-contact-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1300px) {
  .service-container {
    display: block;
    margin: 4rem auto;
  }

  .service-text-container {
    width: 100%;
  }

  .service-container h2 {
    text-align: center;
  }

  .overall-points {
    width: fit-content;
    margin: 0 auto;
  }

  .service-image {
    width: 50%;
    min-width: 320px;
    margin: 4rem auto 0 auto;
    display: block;
  }

  .about-text-container h2 {
    width: 100%;
    text-align: center;
  }

  .about-text-container p {
    text-align: center;
    margin: 2rem auto;
    width: 70%;
  }

  .about-container {
    display: block;
    margin: 0 auto;
  }

  .about-text-container {
    width: 100%;
  }

  .about-btn {
    margin: 4rem auto;
    width: fit-content;
  }

  .about-image {
    width: 50%;
    min-width: 320px;
    margin: 4rem auto 4rem auto;
    display: block;
  }

  .get-started-container p {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .hero-container {
    display: block;
    margin-top: 10rem;
  }

  .hero-text-container {
    width: 100%;
    text-align: center;
  }

  .hero-text-container p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    min-width: 320px;
  }

  .testimonies-container h2 {
    width: 100%;
  }
}

@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  nav .menu-bar {
    display: flex;
  }

  .plan-title {
    width: 100%;
  }

  .about-text-container p {
    width: 100%;
  }

  .footer-container {
    display: block;
  }

  .footer-links {
    width: 100%;
    margin-top: 2rem;
  }

  .footer-social-text {
    width: 100%;
  }

  .introduction {
    display: block;
  }

  .intro-text {
    width: 100%;
    margin: 0 auto;
  }

  .intro-text h2 {
    text-align: center;
  }

  .intro-text p {
    text-align: center;
    width: 100%;
  }

  .intro-image {
    display: block;
    width: 100%;
  }

  .intro-image img {
    min-width: 320px;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
  }

  .mission-vision {
    display: block;
  }

  .mission-text {
    width: 100%;
    margin: 0 auto;
  }

  .mission-text h2 {
    text-align: center;
  }

  .mission-text p {
    text-align: center;
    width: 100%;
  }

  .mission-image {
    display: block;
    width: 100%;
  }

  .mission-image img {
    min-width: 320px;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
  }

  .history {
    display: block;
  }

  .history-text {
    width: 100%;
    margin: 0 auto;
  }

  .history-text h2 {
    text-align: center;
  }

  .history-text p {
    text-align: center;
    width: 100%;
  }

  .history-image {
    display: block;
    width: 100%;
  }

  .history-image img {
    min-width: 320px;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
  }
  .team-expertise {
    display: block;
  }

  .team-text {
    width: 100%;
    margin: 0 auto;
  }

  .team-text h2 {
    text-align: center;
  }

  .team-text p {
    text-align: center;
    width: 100%;
  }

  .team-image {
    display: block;
    width: 100%;
  }

  .team-image img {
    min-width: 320px;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
  }

  .contact-container h3 {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero-text-container h1,
  .service-container h1 {
    line-height: 1.2;
  }

  .achieve-text-container {
    display: block;
  }

  .text-1,
  .text-2 {
    justify-content: center;
  }

  .starting-body {
    display: block;
  }

  .starting-text-container {
    width: 100%;
  }

  .starting-text-container h2 {
    text-align: center;
  }

  .starting-text-container p {
    text-align: center;
    width: 100%;
    margin: 1.5rem auto 0 auto;
  }

  .start-btn {
    margin: 3rem auto 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-container p {
    width: 100%;
  }

  .end-footer {
    display: block;
    text-align: center;
  }

  .sub-contact-container {
    display: block;
  }

  .form {
    width: 100%;
  }

  .reach-out {
    width: 100%;
  }
}
